.ListToDoLists .summary {
  padding: 1em;
  margin: 1em;
  border: 1px solid lightgray;
  cursor: pointer;
  display: flex;
}

.ListToDoLists .name {
  font-weight: bold;
}

.ListToDoLists .count {
  margin-left: 10px;
  color: gray;
}
